html {
	height:100%;
}

body {
	background:linear-gradient(45deg, #00f -100%, #0f0 150%);
	margin:50px;
	background-attachment:fixed;
}

#navigation {
	transition:left 0.5s;
	position:fixed;
	left:-300px;
	top:-2.5%;
	height:100%;
	width:310px;
	border-radius:0;
	padding-top:10%;
}

#navigation:hover {;
	left:0px;
	box-shadow:3px 0 3px rgba(0,0,0,0.4);
	background:rgba(0,0,0,0.8);
}

 #navigation, #navigation a {
	color:#fff;
}

#upp {
	margin-top:50px;
}

h1, h3, table {
	text-align:center;
}

#z {
	margin-top:50px;
}

#z li::first-line {
	font-weight:700;
}

a {
	color:#000;
	text-decoration:none;
}

a:hover {
	color:#f00;
	text-decoration:underline;
}

#a {
	width:35em;
	margin:auto;
	background:linear-gradient(90deg, rgba(255,255,255,0)0%,
									  rgba(255,255,255,0.2)25%,
									  rgba(255,255,255,0.2)75%,
									  rgba(255,255,255,0)100%);
}

div {
	border-radius:8px;
}

img {
	border-radius:10px;
}

#table td {
	border:2px solid #055;
	border-radius:4px;
	padding:5px;
}

#table {
	background:rgba(0,120,100,0.6);
	border:2px solid #055;
	border-radius:5px;
}

#color {
	background:rgba(0,50,50,0.5);
}

/*1*/

#b {
	width:280px;
	height:55px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#f {
	width:280px;
	height:270px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#c {
	width:370px;
	height:180px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#d {
	color:#f00;
}

#e {
	width:120px;
	height:75px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#g {
	color:#fff;
	background:#555;
	width:250px;
}

/*4*/

#h {
	width:150px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

/*5*/

#noborder td {
	border:none;
}

#small-caps {
	font-variant:small-caps;
}

#i {
	width:70px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#j {
	width:235px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#k {
	width:280px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#l {
	width:220px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
	text-shadow:4px 2px 1px rgba(255,255,255,0.4);
}

#m {
	width:200px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#n {
	width:710px;
	height:40px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

/*6*/

#o {
	width:190px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
	border:1px solid #055;
}

#p {
	width:150px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

/*7*/

#q {
	width:155px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#r {
	width:300px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#s {
	width:375px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#t {
	width:300px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#u {
	width:555px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#v {
	width:690px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#w {
	width:175px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#x {
	width:370px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

/*8*/

#aa {
	width:400px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
	margin:5px 0 5px 0;
}

#aaa {
	width:140px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
	margin:5px 0 5px 0;
}

#aab {
	width:220px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
	margin:5px 0 5px 0;
}

#ab {
	width:530px;
	height:90px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#ac {
	width:470px;
	height:73px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#ad {
	width:150px;
	height:20px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}