html {
	height:100%;
}

body {
	background:linear-gradient(45deg, #00f -100%, #0f0 150%);
	margin:50px;
	background-attachment:fixed;
}

#navigation {
	transition:left 0.5s;
	position:fixed;
	left:-300px;
	top:-2.5%;
	height:100%;
	width:310px;
	border-radius:0;
	padding-top:10%;
}

#navigation:hover {;
	left:0px;
	box-shadow:3px 0 3px rgba(0,0,0,0.4);
	background:rgba(0,0,0,0.8);
}

 #navigation, #navigation a {
	color:#fff;
}

#upp {
	margin-top:50px;
}

h1, h3, table {
	text-align:center;
}

#z {
	margin-top:50px;
}

#z li::first-line {
	font-weight:700;
}

a {
	color:#000;
	text-decoration:none;
}

a:hover {
	color:#f00;
	text-decoration:underline;
}

#a {
	width:35em;
	margin:auto;
	background:linear-gradient(90deg, rgba(255,255,255,0)0%,
									  rgba(255,255,255,0.2)25%,
									  rgba(255,255,255,0.2)75%,
									  rgba(255,255,255,0)100%);
}

div {
	border-radius:8px;
}

img {
	border-radius:10px;
}

#table td {
	border:2px solid #055;
	border-radius:4px;
	padding:5px;
}

#table {
	background:rgba(0,120,100,0.6);
	border:2px solid #055;
	border-radius:5px;
}

#color {
	background:rgba(0,50,50,0.5);
}

/*1*/

#b {
	width:280px;
	height:55px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#f {
	width:280px;
	height:270px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#c {
	width:370px;
	height:180px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#d {
	color:#f00;
}

#e {
	width:120px;
	height:75px;
	background:rgba(0,120,100,0.6);
	padding:5px;
}

#g {
	color:#fff;
	background:#555;
	width:250px;
}